/* INDEX */
.btn-custom {
    text-decoration: none;
    color: black;    
  }
  
.fuente{
    text-decoration: none;
    list-style: none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}
.textinicio{
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
}
footer{
    background:rgb(83,151,179);
}
footer {
    color: whitesmoke;
    text-align: center;
}
#iconos i {
    font-size:18px;
    color: whitesmoke;
    padding: 2 8px;
}


/*contenedor sobre nosotros*/

.titulo{
    margin: 3rem;
    color:black ;
    text-align: center;
    margin-bottom: 60px;
	
}

.contenedor-sobre-nosotros{
    
	display: flex;
    justify-content: space-evenly;

}


.sobre-nosotros .contenido-textos{
	width: 48%;
}

.contenido-textos h2{
    margin-bottom: 15px;
    padding: 15px;	
}


.imagen-sobre-nosotros{
	width: 30%;  
    height: 30%;
    padding-right: 60px; 
}

.sobre-nosotros .contenido-textos{
	width: 48%;
}

.contenido-textos h2{
    margin-bottom: 15px;
    padding: 15px;	
}


.rotate-center{animation:rotate-center 5s} @keyframes rotate-center{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}

/*FIN del contenedor sobre nosotros*/